<footer class=" d-flex justify-content-center flex-column align-items-center ">

  <div>
    <h2 class="h5 mt-4 fw-normal text-center">Movies Channel</h2>
  <ul class="socials mt-4 d-flex align-items-center justify-content-center">
    <li class="">
      <a href="#"><i class="fa-brands fa-instagram "></i></a>
    </li>
    <li class="">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </li>
    <li class="">
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </li>
    <li class="">
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </li>
  </ul>
  <p class="fw-light text-center m-4">Copyright©2024;  Designed by Hend Abdelnasser</p>
  </div>
</footer>