<div class="contactContent d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="mb-5 h1">Contact us </h2>
    <h6 class="fw-medium">Contact us through our social media</h6>
    <p class=" fw-light">Tell us more and we'll find the best solution for you</p>
    <ul class="socials mt-4 d-flex align-items-center">
      <li>
        <a href="#"><i class="fa-brands fa-instagram "></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-facebook "></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
  </div>
</div>