<form [formGroup]="genreForm">
  <select class="form-select w-auto pe-5" aria-label="Default select example" (change)="getMoviesByGenre(1)"
    (change)=" activeButton(0) " formControlName="selectedOption">
    <option *ngFor="let genre of genresIdAndName" [value]="genre.id" selected>{{genre.name}}</option>
  </select>
</form>

<div class="row mt-4 mb-5">
  <div *ngFor="let movie of genreMovies" class="col-md-3 col-6 col-sm-4 col-xl-2" data-aos="fade-down"
    data-aos-duration="1500" data-aos-once="false" data-aos-delay="100">
    <div class="movieCard">
      <a [routerLink]="['/details-show' , (movie.media_type || 'movie')  ,movie.id ]">
        <img [src]="movie.poster_path ?  ( imgprefix + movie.poster_path) : 'assets/not-found.png'" class="w-100"
          alt="" />
        <div class="descripMovie ">
          <h3>{{ movie.title }}</h3>
          <div class="voteLine">
            <i class=" fa-solid fa-star"></i>
            <span>{{ movie.vote_average | number : "1.0-1" }}</span>
            <span class="pipe mx-2"> | </span>
            <span> {{movie.release_date | date : 'yyyy'}} </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<nav aria-label="..." class="mb-5 ">
  <ul class="pagination d-flex justify-content-center flex-wrap gap-2">
    <li class="page-item ">
      <button class="page-link text-black rounded-2" (click)="previousPage()"
        [disabled]="currentPage == 0">Previous</button>
    </li>
    @for (page of totalPages; track $index) {
    <li aria-current="page">
      <a class="page-link text-black rounded-2" [class.activePage]="currentPage == $index"
        (click)="getMoviesByGenre(page)" (click)="activeButton($index)">{{page}}</a>
    </li>
    }
    <li class="page-item">
      <button class="page-link text-black rounded-2" (click)="nextPage()"
        [disabled]="currentPage == (totalPages.length -1)">Next</button>
    </li>
  </ul>
</nav>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>