.registerButton {
  background-color: #ac1b1b;
  color: white;
  font-weight: 500;
  border: 1px solid #261515;
}

.registerButton:active{
  background-color: #c22222;
  color: rgb(0, 0, 0);
  border: 1px solid #261515;
}

.content {
  margin-top: 100px !important ;
}

@media (max-width: 1300px) {
  .registerArea {
    margin-top: 24px;
  }

  .register {
    margin-bottom: 18px;
  }

  .content {
    margin-top: 180px !important ;
  }
}

@media (max-width: 768px) {
  .registerArea {
    width: 75% !important;
  }
}

@media (max-width: 576px) {
  .content {
    margin-top: 120px !important ;
  }

  .registerArea {
    margin-top: 8px;
  }

  .textBox h2 {
    font-size: 20px;
    line-height: 1.6;
  }

  .textBox h5 {
    font-size: 14px;
    margin-top: 11px !important;
  }
}

@media (max-width: 380px) {
  .content {
    margin-top: 130px !important ;
  }

  .textBox h2 {
    font-size: 18px;
    line-height: 1.6;
  }

  .textBox h5 {
    font-size: 10px;
  }
}
